<div class="max-w-screen overflow-scroll">
  <!--  <div class="sticky top-0 min-w-full h-full dark:white dark:bg-backgroundDark z-50">-->
  <!--    <you-TabBar></you-TabBar>-->
  <!--    <you-TagsBar class="top-16 w-3/3"></you-TagsBar>-->
  <!--  </div>-->

  <!-- Body -->
  <div class="grid grid-flow-row content-center place-items-center p-4">
    <div class="gap-4 columns-1 md:columns-3 lg:columns-4 xl:columns-5 2xl:columns-7 h-full w-full ">
      <div *ngFor="let i of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]">
        <div class="mb-4 break-inside-avoid-column">
          <y-text-content></y-text-content>
        </div>
        <div class="mb-4 break-inside-avoid-column">
          <y-picture-content></y-picture-content>
        </div>
        <div class="mb-4 break-inside-avoid-column">
          <y-video-content></y-video-content>
        </div>
      </div>
    </div>
  </div>
</div>
