<div class="bg-debugGradient rounded-3xl w-fit">
  <p class="text-white p-4">
    Elevatus de teres resistentia, magicae rumor!
    Galluss messis! Eheu.
    Buxums cadunt in rusticus amivadum!
    A falsis, frondator nobilis domina.
  </p>
  <div class="grid grid-cols-5 border rounded-b-3xl">
    <div
      class="flex justify-center gap-2 select-none cursor-pointer rounded-bl-3xl hover:bg-white hover:bg-opacity-30 p-1.5">
      <img ngSrc="assets/icons/thumb_up.svg" width="24" height="24" alt="like"/>
      <p class="text-white">yay</p>
    </div>
    <div class="flex justify-center gap-2 select-none cursor-pointer hover:bg-white hover:bg-opacity-30 p-1.5">
      <img ngSrc="assets/icons/thumb_down.svg" width="24" height="24" alt="dislike"/>
      <p class="text-white">nay</p>
    </div>
    <div class="flex justify-center gap-2 select-none cursor-pointer hover:bg-white hover:bg-opacity-30 p-1.5">
      <img ngSrc="assets/icons/playlist_add.svg" width="24" height="24" alt="dislike"/>
      <p class="text-white">Playlist</p>
    </div>
    <div class="text-center select-none cursor-pointer hover:bg-white hover:bg-opacity-30">
      <p class="text-white">1000</p>
    </div>
  </div>
</div>

