<div class="shadow-widget py-2 px-8 border dark:border-[#0E294B] rounded-xl bg-[#0E294B] flex flex-row gap-8">
  <div class="rounded-md gap-1 flex flex-col place-items-center">
    <img ngSrc="assets/icons/You.png" width="1024" height="1024" alt="you icon" class="w-8 h-8 invert">
    <p class="text-white font-IndieFlower text-md select-none">All you</p>
  </div>
  <div class="rounded-md gap-1 flex flex-col place-items-center">
    <img ngSrc="assets/icons/smalls.png" width="1024" height="1024" alt="you icon" class="w-8 h-8 invert">
    <p class="text-white font-IndieFlower text-md select-none">Carousel</p>
  </div>
  <div class="rounded-md gap-1 flex flex-col place-items-center">
    <img ngSrc="assets/icons/explore.png" width="1024" height="1024" alt="you icon" class="w-8 h-8 invert">
    <p class="text-white font-IndieFlower text-md select-none">Explore</p>
  </div>
  <div class="rounded-md gap-1 flex flex-col place-items-center">
    <img ngSrc="assets/icons/profile.png" width="1024" height="1024" alt="you icon" class="w-8 h-8 invert">
    <p class="text-white font-IndieFlower text-md select-none">Username</p>
  </div>
</div>
