<div
  class="relative text-center w-full select-none rounded-2xl bg-cover"
  [ngStyle]="{ 'background-image': this.showBackgroundBlur ?  'url(' + this.imageSource + ')' : '', 'box-shadow' : this.showBackgroundBlur ? 'inset 0 0 5em 2em #000' : ''}"
  (mouseenter)="this.toggleBackgroundBlur()" (mouseleave)="this.toggleBackgroundBlur()">
  <div class="rounded-2xl backdrop-blur-2xl">
    <div class="relative">
      <img id="pictureContent" #pictureContent class="rounded-2xl p-1 aspect-video"
           [src]="this.imageSource"
           alt="picture content"
           width="1024" height="1024">
      <img src="assets/icons/play_arrow.svg" alt="video"
           class="absolute h-12 w-12 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    </div>
    <!--  <p-->
    <!--    class="absolute bottom-0 font-IndieFlower text-md backdrop-blur-3xl p-0.5 rounded-md left-1/2 -translate-x-1/2"-->
    <!--    [ngClass]="this.isTextDark ? 'text-white' : 'text-black'">-->
    <!--    Spatiis mori in bi-color oenipons!Pol, peritus canis!-->
    <!--  </p>-->
    <y-content-UserInfo
      *ngIf="!this.hideUserInfo"></y-content-UserInfo>
  </div>
</div>
