<div class="m-2 w-full flex flex-row gap-1 justify-center">
  <div class="border dark:border-white px-2 py-1 rounded-xl cursor-pointer bg-black dark:bg-white min-w-16">
    <p class="select-none dark:text-black text-white text-center">All</p>
  </div>
  <div class="border dark:border-white px-2 py-1 rounded-xl cursor-pointer bg-black dark:bg-white min-w-16">
    <p class="select-none dark:text-black text-white text-center">Texts</p>
  </div>
  <div class="border dark:border-white px-2 py-1 rounded-xl cursor-pointer bg-black dark:bg-white min-w-16">
    <p class="select-none dark:text-black text-white text-center">Pictures</p>
  </div>
  <div class="border dark:border-white px-2 py-1 rounded-xl cursor-pointer bg-black dark:bg-white min-w-16">
    <p class="select-none dark:text-black text-white text-center">Videos</p>
  </div>
</div>
