<div class="grid  grid-rows-2 h-1/2 gap-2">
  <div class="bg-debugGradient rounded-3xl h-fit mr-1 col-span-3">
    <div class="p-2">
      <vg-player class="aspect-video rounded-3xl">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto">
          <source src="http://localhost:4200/assets/temp/IMG_3327.MOV" type="video/quicktime">
        </video>
      </vg-player>
    </div>
  </div>
  <div class="flex flex-col gap-2 h-1/2">
    <y-content-Description></y-content-Description>
    <y-content-Comment-List></y-content-Comment-List>
  </div>
</div>
