<div class=" w-full flex gap-2">
  <div
    class="bg-widgetDark shadow-widget h-12 flex items-center justify-items-start max-w-1/2 min-w-full w-full"
    [ngClass]="this.isOpen ? 'rounded-t-3xl' : 'rounded-3xl'">
    <img class="invert mx-2 cursor-pointer" (click)="this.onSearchSubmit()" ngSrc="assets/icons/search.svg"
         alt="search icon"
         height="36" width="36">
    <form (ngSubmit)="this.onSearchSubmit()" class="w-full">
      <input id="search_input" #search_input
             type="search"
             (focus)="this.openList()"
             (focusout)="this.closeList()"
             (keyup)="this.onSearchValueChange()"
             placeholder="Search..."
             [value]="this.search_query"
             class="block py-2 px-0 w-full text-white bg-transparent border-0 appearance-none focus:outline-none focus:ring-0 peer">
    </form>
  </div>
</div>

<div class="fixed top-12 z-50 w-full shadow-2xl" *ngIf="this.isOpen"
     [appOutSideClick]="false"
     (outSideClick)="this.closeList()">
  <div
    class="font-normal backdrop-blur-3xl divide-y divide-gray-100 rounded-b-lg shadow dark:divide-gray-600">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
      <li class="cursor-pointer select-none">
        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 text-black dark:text-white">Profile</a>
      </li>
      <li class="cursor-pointer select-none">
        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 text-black dark:text-white">Settings</a>
      </li>
      <li class="cursor-pointer select-none">
        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 text-black dark:text-white">Earnings</a>
      </li>
    </ul>
    <div class="cursor-pointer select-none py-1">
      <a
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
        out</a>
    </div>
  </div>
</div>
