<!--dark:hover:text-black hover:bg-opacity-20 dark:hover:bg-white hover:bg-black  -->
<div
  class="flex flex-row justify-between p-1 dark:text-white text-black  w-fit">
  <div class="flex items-center ">
    <div class="border-2 border-debugColor rounded-md w-10 h-10 z-0 bg-white">
      <img class="" ngSrc="assets/icons/ProfilePicture.png" alt="profilePicture" width="1024"
           height="1024">
    </div>
    <div class="font-IndieFlower flex flex-col ml-2">
      <p class="font-bold text-md">Username</p>
      <p class="text-sm">ATUsername</p>
    </div>
  </div>
</div>
